* {

	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

a, a:hover {

	text-decoration: none;
	color: white;
}

p {

	margin: 0;
}

.upper {

	text-transform: capitalize;
}
/*header*/
.navbar {
	
	padding: 1%;
	background-color: black;
}

.nav-item {

	font-size: 12pt;
	margin: 3%;
	color: white;
}

#item-especial {

	font-size: 40pt;
	text-align: center;
}

/*footer*/
footer {

	text-align: center;
	background-color: black;
	padding: 2% 4% 2% 4%;
	color: white;
}

/*index*/
main {

	background-color: #f7f4f1;
	color: #2f243a;
}

.intro-web {

	width: 100%;
	color: white;
	text-align: center;
	background-image: url(../img/banner\ intro.jpg);
	background-position: center;
	background-size: cover;
	filter: brightness(0.5);
	padding: 0;
	height: 100vh;
}

.intro-web h1 {

	width: 40%;
	font-size: clamp(5rem, 10vw, 10rem);
	filter: brightness(1)!important;
	margin: 0;
}

.cont-sobrenosotros {

	margin: 8% 0 8% 0;
	text-align: center;
}

.idea {

	padding: 5%;
	text-align: center;
}

.img-inicio {

	padding: 0;
}

/*headers paginas*/
#barmans, #bars, #nosotros, #registro, #bar {

	background-color: #f0efef;
	padding: 2% 10% 5% 10%;
}

.titulo {

	margin: 5%;
	text-align: center;
}

.titulo hr {

	width: 20%;
	border-top: 1px solid rgba(0, 0, 0, 1);
}


/*barmans*/
.col-card {
	
	margin-top: 5%;
}

.card {

	text-align: center;
	height: 100%;
	border-radius: 31px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-color: #f7f4f1;
	background: #f7f4f1;
	box-shadow:  5px 5px 10px #c8c6c3,
				 -5px -5px 10px #ffffff;
}

.card img {

	width: 100%;
}

.card-body {

	padding: 10%;
	font-size: 11.5pt;
	
}

.datos {

	text-align: left;
	margin-top: 6%;
}

/*bares*/
#bars .titulo {

	margin-bottom: 0;
}

.txt {

	width: 80%;
	text-align: center;
	margin: 3% auto;
}

.bar {

	color: #2f243a;
	margin: 3%;
	border-radius: 31px;
	background: #f7f4f1;
	box-shadow:  5px 5px 10px #c8c6c3,
				-5px -5px 10px #ffffff;
}

.img-bar {

	padding: 0;
}

.info-bar {

	padding: 2%;
}

.info-bar p {

	text-align: left;
	padding: 2%;
	font-size: 10.5pt;
}

.info-bar hr {

	border-top: 1px solid #2f243a;
	opacity: 1;
	width: 50%;
	margin-left: 4%
}

.circulitos-barmans {

	text-align: center;
}

.cont-chiquito {

	margin-left: 5%;
}

/*bar*/
.info-bar-extend {

	padding: 2%;
	border-radius: 31px;
	background: #f7f4f1;
	box-shadow:  5px 5px 10px #c8c6c3,
				-5px -5px 10px #ffffff;
}

.info-bar-extend img {

	padding: 0;
}

.info-bar-extend p {

	text-align: left;
	padding: 2%;
	font-size: 11pt;
	margin-bottom: 5%;
}

/*registro*/
.formulario {

	padding: 5%;
	border-radius: 31px;
	background: #f7f4f1;
	box-shadow:  5px 5px 10px #c8c6c3,
             -5px -5px 10px #ffffff;
}

.formulario h2 {

	width: 100%;
	text-align: center;
}

#form-bar, #form-barman {

	padding: 5%;
}

.divisor {

	height: 70vh;
	border-left: 1px solid #2f243a;
	border-top: none;
}

.btn-sub {

	background-color: #2f243a;
	border: none;
	padding: 2%;
}

/*nosotros*/
.card-info-alumnos {

	padding: 2%;
	margin: 3%;
	border-radius: 30px;
	background: #f0efef;
	box-shadow:  5px 5px 10px #c8c6c3,
             -5px -5px 10px #ffffff;
	height: 100%;
}

.card-info-alumnos h4 {

	text-align: center;
	margin-top: 5%;
}
